/*************************************************************************
*
*	REGULAR STYLE
*
*************************************************************************/

html
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	padding: 0px;
}

body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
}



/*************************************************************************
*
*	COVER STYLE
*
*************************************************************************/

#cover-login
{
    width: 100%;
    height: 100%;
    background: #2a79bd;
    position: absolute;
}


/*************************************************************************
*
*	FORM STYLE
*
*************************************************************************/

.login-wrapper
{
width: 300px;
    margin: auto;
    margin-top: 11%;
}

.login-wrapper
.fir
{
display: block;
    width: 100%;
    font-family: karla;
    font-size: 33px;
    text-align: center;
    color: #2a79bd;
    font-weight: normal;
    background: #fff;
}

.login-wrapper
.sec
{
    display: block;
    width: 100%;
    text-align: center;
    font-family: work sans;
    padding-top: 5px;
    color: #Fff;
    font-size: 17px;
    border-bottom: 1px solid#b7b4b4;
    padding-bottom: 5px;
    margin-bottom: 14px;
    font-weight: normal;
}

.login-wrapper
.ipt-login
{
    width: 100%;
    border: 1px solid#ddd;
    background: transparent;
    color: #fff;
    font-family: karla;
    padding: 11px;
    border-radius: 4px;
    margin-bottom: 7px;
    font-size: 16px;
}

.login-wrapper
.ipt-login::placeholder
{
	color: #fff;
}

.login-wrapper
.ipt-submit
{
width: 100%;
    font-family: karla;
    font-weight: bold;
    color: #fff;
    border: none;
    background: #29b6ec;
    padding: 10px;
    font-size: 20px;
    margin-top: 4px;
    transition: 0.2s;

}

.login-wrapper
.ipt-submit:hover
{
	transition: 0.2s;
	background: #1d5a8e;
}

.login-wrapper
.ipt-submit:active
{	
	background: #0c3354;
}
